/*universal styles*/
html {
  font-size: 18px;
  font-family: helvetica;
  color: white;
}

.container {
  width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}


/*header section*/
header {
  background-color: black;
  padding: 0.66rem 0;
}


.header img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

/*banner section*/
.banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  width: 20rem;
  background-color: black;
  position: relative;
  top: 9rem;
  display: block;
  padding: 2rem 3rem;
}

.box p {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

/*navigation section*/
.menu {
  width: 100%;
  background-color: firebrick;
}

.navigation {
  padding: 0.75rem 0;
  width: 960px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


li a {
  color: white;
  text-decoration: none;
}

/*product grid section*/
.products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  width: 960px;
  justify-content: space-between;
}


.cat {
  border: 4px solid black;
  width: 30%;
}

.cat img {
  height: 9rem;
  display: block;
  margin: 0 auto;
  padding: 2rem 0;
}

.cat p {
  background-color: black;
  padding: 0.5rem 0;
  text-align: center;
}

.pic3 img {
  width: 100%;
}

/*Location and Hours*/
.contact {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 3rem;
  width: 960px;
  margin-bottom: 4rem;
}

.contact div {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.black {
  background-color: black;
  padding: 1rem 0;
  padding-left: 2rem;
}

.zwart {
  color: black;
}

/*footer section*/
footer {
  height: 5rem;
  background-color: black;
  text-align: left;
  display: flex;
  align-items: center;
}


/*Navigation bar tablet landscape mode*/
.secretmenu {
  display: none;
}

/*Tablet screen in landscape mode is less than 1024px*/
@media only screen and (max-width: 1024px) {

/*bar menu*/
.secretmenu {
  display: inherit;
  text-align: center;
}

.realmenu {
  display: none;
}

/*product grid*/
/*Dus om enkel 2 producten op tablet landscape scherm te krijgen moet je dus
voor moeder container height instellen en overflow hidden??? en Om Afbeelding te vergroten, width aanpassen????*/
.products {
  height: 277.6px;
  overflow: hidden;
}

.cat {
  width: 47%;
}




}
